<h1>Welcome</h1>

<div class="row">
  <div class="span6">
    <div class="welcome_message">
      Personal Organizer is a tool to keet track of your expenses and enables you to
      know where does your money go each month and how I can improve my money management
      according to my own situation and historical data
    </div>
    <%= image_tag 'finances.jpeg', class: 'welcome_image' %>
  </div>
  <div class="span6">
    <div id="sign_up" class="well">
      <h2>Sign Up</h2>
      <%= simple_form_for("user", url: user_registration_path, html: { class: 'form-horizontal' }) do |f| %>
        <%= f.input :email, type: :email %>
        <%= f.input :password, type: :password %>
        <%= f.input :password_confirmation, type: :password %>
        <%= f.button :submit, 'Sign up', class: 'btn-large' %>
      <% end %>
    </div>
  </div>
</div>
