<div id="transaction_<%= index %>">
  <%= f.text_field 'name', placeholder: 'Name' %>
  <%= f.text_field 'amount', placeholder: 'Amount' %>
	<%= f.select 'category_id', options_from_collection_for_select(current_user.categories, 'id', 'name'), include_blank: true %>
  <%= f.text_area 'description', rows: '1', cols: '200' %>
</div>