<h1>New Transactions</h1>

<%= form_tag account_transactions_path(@account) do %>
  <%= hidden_field_tag 'transactions_count', @transactions.count %>
	<%= text_field_tag 'creation_date', Date.today %>
  <% @transactions.each_with_index do |transaction, index| %>
		<%= fields_for "transactions[]", transaction, index: index.to_s do |f| %>
      <%= render 'transactions/transaction_fields', f: f, index: index %>
    <% end %>
  <% end %>
  <%= link_to_add_transaction 'Add Transaction' %>
  <%= submit_tag 'Create Transactions', class: 'btn btn-primary btn-large pull-right' %>
<% end %>

<%= link_to 'Back', account_path(@account) %>