<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
			<% if user_signed_in? %>
				<%= link_to "Personal Organizer", accounts_path, class: "brand" %>
			<% else %>
	      <%= link_to "Personal Organizer", root_path, class: "brand" %>
			<% end %>
      <ul class="nav pull-left">
        <li><%= link_to 'Accounts', accounts_url %></li>
      </ul>

      <div class="nav pull-right" id="login">
        <% if user_signed_in? %>
          <span>
						Welcome <%= current_user.email %>
          	<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
					</span>
        <% else %>
          <%= simple_form_for("user", url: new_user_session_path, html: { class: 'form-inline' }) do |f| %>
            <%= f.input :email, type: :email, label: false %>
            <%= f.input :password, type: :password, label: false %>
            <%= f.button :submit, 'Login' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
